body {
    font-family: 'Prompt', sans-serif;
}

html,
body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* Hide scrollbar for all scrollable elements */
* {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #8800b2, #fff);
    max-width: 480px;
    padding-bottom: 100px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

@media (min-width: 481px) {
    body {
        background: linear-gradient(to bottom, #8800b2, #fff);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .main-container {
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        height: 100vh;
        max-height: 900px;
    }
}

.custom-tooltip {
    --bs-tooltip-bg: #8800b2;
    --bs-tooltip-color: #fff;
    font-family: 'Prompt', sans-serif;
}

.list-group-item {
    cursor: pointer;
}

.loader {
    background: linear-gradient(to bottom, #8800b2, #fff);
    min-height: 100vh;
    z-index: 9998;
}

.loader-container {
    z-index: 2000;
}

.control-button {
    max-width: 480px;
    padding-bottom: 0px !important;
}

.control-button.active {
    padding-bottom: 9px !important;
}

.main-button {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.manu-button {
    flex: 1;
    /* กินพื้นที่เท่ากัน */
    text-align: center;
    margin-top: 6px;
    color: #7e7e7e;

    i {
        font-size: 24px;
    }

    span {
        font-size: 10px;
        font-weight: 600;
        margin-top: 5px;
    }
}

.manu-space {
    flex: 1;
    /* ช่องว่างตรงกลาง */
}

.scan-wrapper {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.scan-button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #fdda15, #d38b00);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #ffffff;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.scan-button i {
    color: #fff !important;
    font-size: 24px;
}

.scan-button span {
    color: #fff !important;
    font-size: 10px;
    font-weight: 600;
    margin-top: 5px;
}

.manu-button.active {
    border-bottom: 3px solid #8900b3;
}

.manu-button.active i {
    color: #8900b3 !important;
    font-size: 24px;
}

.manu-button.active span {
    color: #8900b3 !important;
    margin-bottom: 8px;
    font-weight: 700;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-10 {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.box-container {
    background-color: #53036b !important;
}

.bg-color-secondary {
    background-color: #f0f0f0 !important;
}

.text-info {
    color: #ad50ca !important;
}

.icon-dashborad {
    width: 26px;
    height: 26px;
    background-color: #53036b;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 2px solid #ad50ca;
    box-shadow:
        0 0 0 2px #ffffff,
        0 2px 8px rgba(0, 0, 0, 0.4);
}

.carousel .carousel-item img {
    height: 180px;
    object-fit: cover;
}

.w-180 {
    width: 180px !important;
    height: 180px !important;
}

.carousel .carousel-item .ratio-1x1 img {
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -35px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    text-indent: -999px;
    cursor: pointer;
    background-color: #5a5a5a;
    background-clip: padding-box;
    border: 0;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1;
    width: 40px;
    border-radius: 30px !important;
    background-color: #53036b;
}

.text-gold {
    color: #c2a472 !important;
}

.bg-green-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #53036b, transparent);
    border-radius: inherit;
    z-index: 2;
    pointer-events: none;
}

#iamgesBgbanner {
    position: relative;
    height: 85px;
    background-image: url('../asset/images/Team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-gold {
    color: #000;
    background-color: #c2a472;
    font-size: 12px;
    font-weight: 500;
}

.btn-gold:hover {
    color: #ffffff;
    background-color: #856c41;
}

.bg-violet {
    background-color: #8900b3 !important;
}

.rish-menu {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: #ffffff;
    margin-bottom: 5px;

    .icon {
        width: 40px;
        font-size: 20px;
        color: #8900b3;
    }

    .list {
        width: 100%;
        color: #5a5a5a;
    }

    .chevron {
        width: 10px;
        color: #5a5a5a;
    }
}

.text-dark-info {
    color: #53036b !important;
}

.form-padding {
    padding-left: 35px !important;
    position: relative;
}

.form-icon {
    position: absolute;
    top: 72%;
    left: 10px;
    transform: translateY(-50%);
    color: #8900b3;
    font-size: 16px;
}

.file-preview {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98px;
    height: 82px;
    gap: 10px;
    padding: 8px;
    border: 1px solid #e2e6ea;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.file-icon {
    width: 40px;
    height: 40px;
}

.file-name {
    font-size: 10px;
    color: #64748B;
}

.remove-btn {
    color: #64748B;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.file-container {
    display: none;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--secondary);
}

.file-upload {
    text-align: center;
    padding: 30px;
    border: 1px dashed #ffffff;
    border-radius: 10px;
    color: #9ca3af;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    background-color: var(--bg-light);
    font-size: 14px;
}

.file-container.active {
    display: block;
}

.file-upload i {
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-upload span {
    color: #3b82f6;
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-icon {
    text-align: center;
    cursor: pointer;
    color: #6b7280;
}

.dropdown-icon i {
    transition: transform 0.3s ease;
}

.dropdown-icon i.active {
    transform: rotate(180deg);
    color: #3b82f6;
}

.file-type-info {
    font-size: 11px;
    font-weight: 300;
    color: #6b7280;
    text-align: left;
    margin-top: 4px;
}

.btn-info {
    background-color: #8800b2;
    border: #8900b3;
    color: #ffffff;
}

.btn-info:hover {
    background-color: #53036b;
    border: #53036b;
    color: #ffffff;
}

.btn-info:active {
    background-color: #53036b !important;
    border: #53036b !important;
    color: #ffffff;
}

.bg-gradient-allissue {
    background: linear-gradient(135deg, #3811e4 0%, #4750fd 100%);
    color: #ffffff;
}

.bg-gradient-process {
    background: linear-gradient(135deg, #f7971e 0%, #ffd200 100%);
    color: #ffffff;
}

.bg-gradient-success {
    background: linear-gradient(135deg, #2e9c53 0%, #54ffaf 100%);
    color: #ffffff;
}

.bg-gradient-cencel {
    background: linear-gradient(135deg, #d30a0a 0%, #ff4d4d 100%);
    color: #ffffff;
}

.bg-gradient-with {
    background: linear-gradient(135deg, #8800b2 0%, #3b0a5a 100%);
    color: #ffffff;
}

.modal {
    backdrop-filter: blur(4px);
    border: none;
}

.bg-image-logo {
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6 !important;
    border: none !important;
}

.bg-image-logo:hover {
    background-color: #e0e0e0 !important;
}

.bg-image-logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../asset/icons/logo_khanu512.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
    opacity: 0.15;
    z-index: 1;
    pointer-events: none;
}

.text-transparent {
    color: transparent !important;
}

.text-justify {
    text-align: justify !important;
}

.mb--2 {
    margin-bottom: -8px !important;
}

.mt--2 {
    margin-top: -8px !important;
}

.badge.bg-success {
    background-color: #43c06d !important;
}

.btn-outline-check {
    border: 1px solid #53036b;
    border-radius: 10px;
    background-color: #ffffff;
    color: #53036b;
    font-weight: 400;
    font-size: 14px;
}

.btn-outline-check:hover {
    border: 1px solid #8800b2 !important;
    background-color: #8800b2 !important;
    color: #ffffff !important;
}

.btn-check:checked+.btn-outline-check {
    border: 1px solid #3b0a5a !important;
    background-color: #53036b !important;
    color: #ffffff !important;
    font-weight: 500;
}

.btn-outline-green {
    border: 1px solid #43c06d;
    border-radius: 10px;
    background-color: #ffffff;
    color: #43c06d;
    font-weight: 400;
    font-size: 14px;
}

.btn-outline-green:hover {
    border: 1px solid #197538 !important;
    background-color: #13642e !important;
    color: #ffffff !important;
}

.btn-check:checked+.btn-outline-green {
    border: 1px solid rgb(37, 3, 58) !important;
    background-color: #43c06d !important;
    color: #ffffff !important;
    font-weight: 500;
}


.background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../asset/icons/logo_khanu512.png');
    background-repeat: no-repeat;
    background-size: 320px 320px;
    background-position: center;
    opacity: 0.2;
    z-index: 1;
    pointer-events: none;
}

#editDataUserModal .background-image::after {
    z-index: -1;
}

.background-image .btn,
.background-image span,
.background-image label,
.background-image input,
.background-image textarea {
    z-index: 2;
}

.background-image .form-icon {
    z-index: 4;
}

.form-check-input {
    width: 18px;
    height: 18px;
}

.form-check-input:active {
    background-color: #53036b !important;
    border-color: #53036b !important;

}

.form-check-input:checked {
    background-color: #53036b !important;
    border-color: #53036b !important;

}

.btn-secondary-color {
    background-color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;
    color: #474747 !important;
}

.rotate-3d-logo {
    display: inline-block;
    animation: spinLogo 2s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spinLogo {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

#editDataUserModal .modal-content {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
}

.toast-container {
    left: 20px;
    bottom: 20px;
    z-index: 9999;
}

.toast-onload.hide {
    opacity: 0;
}

.toast-onload.show {
    opacity: 1;
}

.toast-onload h5 {
    font-size: 0.875rem;
}

.toast-onload h6 {
    font-size: 0.75rem;
    font-weight: 400;
}

.gradient-tsp {
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(130deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%) !important;
    box-shadow: none !important;
}

.gradient-yellow {
    background: rgb(255, 178, 43);
    background: linear-gradient(130deg, rgba(255, 178, 43, 1) 0%, rgba(140, 97, 12, 1) 100%) !important;
}

.gradient-blue {
    background: rgb(61, 139, 242);
    background: linear-gradient(130deg, rgba(61, 139, 242, 1) 0%, rgba(4, 75, 108, 1) 100%) !important;
}

.gradient-green {
    background: rgb(6, 214, 155);
    background: linear-gradient(130deg, rgba(6, 214, 155, 1) 0%, rgba(4, 99, 32, 1) 100%) !important;
}

.gradient-violet {
    background: rgb(115, 90, 242);
    background: linear-gradient(130deg, rgba(115, 90, 242, 1) 0%, rgba(44, 4, 99, 1) 100%) !important;
}

.gradient-red {
    background: rgb(240, 82, 79);
    background: linear-gradient(130deg, rgba(240, 82, 79, 1) 0%, rgba(99, 4, 27, 1) 100%) !important;
}

.bg-class-vl {
    background-color: #cfc4fd86;
}

.badge-report {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.report-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    border-left: 8px solid;
}

.report-card.status-ดำเนินการ {
    border-color: #ffc107;
    background-color: #ffc10713;
}

.report-card.status-รอดำเนินการ {
    border-color: #53036b;
    background-color: #53036b1c;
}

.report-card.status-ยกเลิก {
    border-color: #dc3545;
    background-color: #dc35461f;
}

.report-card.status-ดำเนินการเสร็จสิ้น {
    border-color: #43c06d;
    background-color: #43c06d27;
}

.report-card h5 {
    margin-top: 0;
    color: #333;
    font-size: 17px;
}

.report-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.report-card strong {
    color: #333;
    font-weight: 500;

}
.text-p-color {
    color: #666;
}

#pagination {
    display: flex;
    justify-content: center;

    button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 10px;
        }
    }
}

#feedIssues .card-body.รอดำเนินการ::before {
    content: "รอรับเรื่อง";
    position: absolute;
    top: 10px;
    right: -40px;       
    transform: rotate(45deg);  
    background: #8800b2;  
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 40px;  
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#feedIssues .card-body.ดำเนินการ::before {
    content: "ดำเนินการ";
    position: absolute;
    top: 10px;
    right: -40px;       
    transform: rotate(45deg);  
    background: #ff9800;  
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 40px;  
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#feedIssues .card-body.ยกเลิก::before {
    content: "ยกเลิก";
    position: absolute;
    top: 10px;
    right: -40px;       
    transform: rotate(45deg);  
    background: #d30a0a;  
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 40px;  
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}   

#feedIssues .card-body.ดำเนินการเสร็จสิ้น::before {
    content: "เสร็จสิ้น";
    position: absolute;
    top: 10px;
    right: -40px;       
    transform: rotate(45deg);  
    background: #43c06d;  
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 40px;  
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}